@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WebApp.Pages.Home

<div class="text-center">
    <h1>New Game</h1>
</div>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfigurationId" class="control-label">Choose configuration</label>
                <select asp-for="ConfigurationId" class="form-select"
                        asp-items="Model.ConfigSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGameMode" class="control-label">Choose game mode</label>
                <select asp-for="SelectedGameMode" class="form-select"
                        asp-items="Model.GameModeSelectList"></select>
            </div>
            @if (Model.ChooseAiPiece)
            {
                <div class="form-group">
                    <label asp-for="SelectedHumanPiece" class="control-label">Choose who you want to play as</label>
                    <select asp-for="SelectedHumanPiece" class="form-select">
                        <option value="X" selected="@(Model.SelectedHumanPiece == "X")">X</option>
                        <option value="O" selected="@(Model.SelectedHumanPiece == "O")">O</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>