@page
@model WebApp.Pages.Options

<div class="text-center">
    <h1>Options</h1>
</div>

<br>

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Success))
{
    <div class="alert alert-success" role="alert">
        @Model.Success
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <h3>Delete configuration</h3>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfigurationId" class="control-label">Choose configuration</label>
                <select asp-for="ConfigurationId" class="form-select"
                        asp-items="Model.ConfigSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" name="deleteConfiguration" value="Delete" class="btn btn-danger"/>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h3>Make a new configuration</h3>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label">Choose game</label>
                <select asp-for="GameId" class="form-select"
                        asp-items="Model.GameSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" name="createConfiguration" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h3>Delete saved game</h3>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label">Choose game</label>
                <select asp-for="GameId" class="form-select"
                        asp-items="Model.GameSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" name="deleteGame" value="Delete" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>
